### Creating dataframes

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create lists of lists, grades and number one column
location_list = ['Austin','Austin','San Antonio','Laredo','Dallas','El Paso','Chicago','Naperville','Springfield','Miami','Orlando','Austin','Austin','San Antonio','Laredo','Dallas','El Paso','Chicago','Naperville','Springfield','Miami','Orlando','Austin','Austin','San Antonio','Laredo','Dallas','El Paso','Chicago','Naperville','Springfield','Miami','Orlando']
state_list = ['TX','TXX','TX','TX','TX','TX','IL','IL','IL','FL','FL','TX','TX','TX','TX','TX','TX','IL','IL','IL','FL','FL','TX','TX','TX','TX','TX','TX','IL','IL','IL','FL','FL']
name_list = ['Juan','Ellie','George','Maria','Test','Gina','Andrew','Joe','Mary','Tabelon','Wuda','Juan','Ellie','George','Maria','Test','Gina','Andrew','Joe','Mary','Tabelon','Wuda','Juan','Ellie','George','Maria','Test','Gina','Andrew','Joe','Mary','Tabelon','Wuda']
lastname_list = ['Martinez','Smith','Garcia','Logit','Account','Perdue','Lablanc','Dile','Smith','Legruti','Jenkins','Martinez','Smith','Garcia','Logit','Account','Perdue','Lablanc','Dile','Smith','Legruti','Jenkins','Martinez','Smith','Garcia','Logit','Account','Perdue','Lablanc','Dile','Smith','Legruti','Jenkins']
challenge_grades = [100,88,100,100,55,75,81,77,32,100,30,99.0,95.0,np.nan,100.0,60.0,86.0,83.0,45.0,75.0,95.0,0.0,70.0,100.0,np.nan,100.0,90.0,np.nan,55.0,81.0,99.0,81.0,75.0]
challenge_number = [1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,3]

# Create dictionary of lists
class_data = { 'location': location_list,
               'state': state_list,
               'name': name_list,
               'lastname': lastname_list,
               'challenge_grades': challenge_grades,
               'challenge_number': challenge_number}

In [ ]:
# create df
# columns_to_create = ['location','state','name','lastname','challenge_grades','challenge_two_grade','challenge_three_grade']
df = pd.DataFrame(data=class_data)
df.sort_values(by=["name","challenge_number"])

In [ ]:
# count of rows with records
df['challenge_grades'].count()

In [ ]:
# Number of records
len(df['challenge_grades'])

In [ ]:
df['challenge_grades'].value_counts()

In [ ]:
df['challenge_grades'].fillna(17)

In [ ]:
df['challenge_grades'].fillna(0, inplace=True)

In [ ]:
df2 = df.copy()

In [ ]:
df2.head()

### Use Map to transform values in cells

In [ ]:
# Apply map to challenge number
# change 1 to 'One', and 2 to 'Two'
df2['challenge_number'].map({1:'One', 2:'Two'})

### Use replace to transform values in cells

In [ ]:
# Apply map to challenge number
# change 1 to 'One', and 2 to 'Two'
df2['challenge_number'].replace({1:'One', 2:'Two'})

In [ ]:
# Fix TXX mispelling
df2.replace({'TXX':'TX'})